<!-- TODO: whats with all this table layout get this out -->
<div id="about">
  <table style="table-layout: fixed;" cellpadding="8px">
    <tr><td width="80%">
      <!-- <h1>who</h1> -->
      <h1>About me</h1>
      <div class="about">
        <p>Hi, I'm Johnson. I like to make things.</p>
        I am a third year Computer Science student at the University of Toronto Scarborough.
        I am a curious, positive, hardworking, and flexible individual who prioritizes quality above all else.
        <p>I love programming, gaming, and chilling with my friends. I enjoy learning new things, and I want to be able to use what I learn into things I can use in my everyday life!</p>
      </div>
      <h1>My goals</h1>
      <div class="about">
        <p>
          I've always wanted to be able to have a positive impact on others.
          Whether that be in the form educating, creating cool things that people can use, or just 
          making others laugh. I've felt that coding was one avenue to express this goal.
        </p>
        <p>
          I've been programming for around 6 years and even now strive to grow.
        </p>
      </div>

      <h1>Skills</h1>
      <div class="about">
        <!-- <p>Click <a href="/skills">here</a> to see what I'm good at (not much).</p> -->
        <p>Click <a href="/skills">here</a> to see what I'm capable of.</p>
      </div>
    </td><td width="20%"></td>
    </tr>
  </table>
</div>
