<div id="about">
  <table style="table-layout: fixed;" cellpadding="8px">
    <tr><td width="80%">
      <h1>who</h1>
      <div class="about">
        <p>Hi, I'm Johnson. I like to make things.</p>
        I am a third year CS student at the University of Toronto Scarborough.
        <p>I love programming, playing video games, and watching anime. I enjoy learning new things, and I want to be able to apply them to my everyday life.</p>
        <h2>Resume</h2>
        My resume can be found <a href="resume.pdf"> here.</a>
      </div>
    </td><td width="20%"></td>
    </tr>
  </table>
</div>
