.item {
    display: grid;
    padding: 20px;
    padding-bottom: 40px;
    padding-right: 10px;
    grid-gap: 30px;
    grid-template-areas: "img desc desc";
    margin-block-end: 2rem;
    /* TODO: make it have a border around the projects*/
    /* background: gainsboro;
    border-bottom: lightblue 5px solid;
    border-top: lightblue 5px solid; */
    width: 90%
  }
  
  .project_img {
    height: 100px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(50%);
    grid-area: img;
    margin: auto;
    border-radius: 20%;
    border: 3px orange solid; }
  
  
  .media-body {
    grid-area: desc;
    font-size: 1.5rem;
  }
  
  .text-secondary {
    color: white;
  }
  