<h1>Skills (a work in progress)</h1>
<h2>Languages</h2>
<!-- TODO: angularize -->
<ul>
    <li>
        C#
    </li>
    <li>
        Java
    </li>
    <li>
        Python
    </li>
    <li>
        HTML, CSS, JavaScript
    </li>
    <li>
        C
    </li>
    <li>
        Visual Basic
    </li>
    <li>
        C++
    </li>
    <li>
        Swift
    </li>
</ul>

<h2>Technologies</h2>
<!-- TODO: angularize -->
<ul>
    <li>
        Git and svn
    </li>
    <li>
        .NET Core MVC
    </li>
    <li>
        Angular
    </li>
    <li>
        LINQ
    </li>
    <li>
        Unity
    </li>
    <li>
        .NET Entity Framework
    </li>
    <li>
        .NET Microsoft Bot Framework
    </li>
    <li>
        LUIS
    </li>
    <li>
        Jira
    </li>
    <li>
        Android Studio
    </li>
    <li>
        XCode
    </li>
</ul>

<h1>Resume</h1>
<div class="about">
<p>
  A formal copy of my resume can be found <a href="/resume.pdf"> here.</a>
</p>
</div>