<header>
  <div class="header-links">
    <a routerLink="/" class="logo">Johnson's Website</a>
    <nav>
      <ul>
        <!-- TODO: angularify this -->
        <!-- <li *ngFor="let item of items; let i = index">
            <a routerLink="/">{{item}}</a>
        </li> -->
        <li><a routerLink="/" id="home">Home</a></li>
        <li><a routerLink="/about" id="about">About me</a></li>
        <li><a routerLink="/projects" id="projects">Projects</a></li>
        <li><a routerLink="/contact" id="contact">Contact me</a></li>
      </ul>
    </nav>
  </div>
</header>
<button id="return_to_top" (click)="goToTop()">Top</button>
<div class="def">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>

