<h1 class="lg-heading">
  Website - Work in Progress!
</h1>
<!-- <h2 class="sm-heading">Personal Portfolio - Work in Progress!</h2> -->

<main id="home">
  <h3>Quick Links </h3>
  <div class="icons">
    <a href="https://twitter.com/Tengokuken"  onclick="scroll">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a href="https://www.facebook.com/tengokuken" target="_blank">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/johnson-zhong/" target="_blank">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://github.com/Tengokuken" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
</main>
